// Homepage animations
.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
#wrapper[data-pagename="home"] {
  .header h1::after {
      content: '|';
      display: inline;
      opacity: 1;
      animation: blink 0.7s linear 0s infinite;
      position:relative;
      bottom: 5px;
  }
  h1.hasFinishedTyping::after {
    display: none;
    animation: none;
  }
  div#progress-bar {
    @extend .animated;
    animation-name: fadeInUp;
    animation-delay: 3s; // Reduces jittering
  }
  .email-form {
    @extend .animated;
    animation-name: fadeInUp;
    animation-delay: 3s; // Reduces jittering
  }
  #progress-bar-svg {
    stroke-linejoin: butt;
    stroke-dasharray: 500;
    stroke-dashoffset: -500;
    animation: draw 2s ease 2.5s 1 forwards;
  }
  div#progress-bar {
    @extend .animated;
    @extend .fadeInUp;
    animation-delay: 0.3s; // Reduces jittering
  }
}

#progress-bar-svg {
  stroke-linejoin: butt;
  stroke-dasharray: 500;
  stroke-dashoffset: -500;
  animation: draw 2s ease 2.5s 1 forwards;
}

div#progress-bar {
  @extend .animated;
  @extend .fadeInUp;
  animation-delay: 0.3s; // Reduces jittering
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 30%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes blink{
  to{
    opacity: 0;
  }
}
@keyframes draw {
  to {
      stroke-dashoffset: 0;
  }
}