// Global animation class (extended below)
.animated {
  animation-duration: .5s;
  animation-fill-mode: both;
}
body {
  @extend .animated;
  transition: height .1s linear;   
}

// Animation for all form sections
#form-scope.ng-enter {
    @extend .animated;
    animation-name: fadeUp30;
    animation-delay: 0.5s;
    opacity: 0;
}
#form-scope.ng-leave {
    @extend .animated;
    animation-name: fadeDown30;
}
#form-scope.ng-enter:nth-child(2) {
  display: none;
}

// Animations for loading box
#loading.ng-leave {
    @extend .animated;
    animation-name: fadeDown30;
}

// Home-screen-specific animations
#wrapper[data-pagename="home"] {
  .header h1::after {
      content: '|';
      display: inline;
      opacity: 1;
      animation: blink 0.7s linear 0s infinite;
      position:relative;
      bottom: 5px;
  }
  h1.hasFinishedTyping::after {
    display: none;
    animation: none;
  }
  div#progress-bar {
    opacity: 0;
    @extend .animated;
    animation-name: fadeInUp;
    animation-delay: 3s; // Reduces jittering
  }
  .email.whitebox {
    @extend .animated;
    animation-name: fadeInUp;
    animation-delay: 3s; // Reduces jittering
  }
  #progress-bar-svg { 
    #pb-circle-1, #pb-circle-2, #pb-circle-3 {
      stroke-linejoin: butt;
      stroke-dasharray: 500;
      stroke-dashoffset: -500;
      animation: draw 2s ease 2.5s 1 forwards;
    }
  }
  &[data-pagefrom="location"] {
    .header h1 {
      margin-top: 0px;
      animation: addTopMargin 1.5s ease 0.5s 1 forwards;
    }
    h1.header {
    display: none;
    }
  }
}
#wrapper[data-pagename="location"] {
  div#progress-bar {
    opacity: 1;
  }
  #pb-check-1 {
    animation: none;
    opacity: 1;
  }
  #pb-dot-2 {
    animation: none;
  }
  #pb-line-1 {
    stroke-dashoffset: 0;
    stroke-width: 1;
  }
  #pick-legislators {
    @extend .animated;
    animation-name: fadeUp30;
    animation-delay: 0.5s;
    opacity: 0;
  }
  // Animations when moving forwards
  &[data-pagefrom="home"] {
    h1.header {
      margin-top: 100px;
      animation: removeTopMargin 1.5s ease 0.5s 1 forwards;
    }
    #pb-line-1 {
      stroke-linejoin: butt;
      stroke-dasharray: 170;
      stroke-dashoffset: 170;
      animation: draw 2s ease 0.5s 1 forwards;
    }
    #pb-dot-2 {
      opacity: 0;
      animation: moveRight 2.5s ease 0s 1 forwards;
    }
    #pb-check-1 {
      opacity: 0;
      animation: fadeInUp 0.5s ease 1.5s 1 forwards;
    }
  }
}
#wrapper[data-pagename="compose"] {
  div#progress-bar {
    opacity: 1;
  }
  #pb-line-1 {
    stroke-dashoffset: 0;
    stroke-width: 1;
  }
  #pb-line-2 {
    stroke-width: 1;
    stroke-linejoin: butt;
    stroke-dasharray: 170;
    stroke-dashoffset: 170;
    animation: draw 2s ease 0.5s 1 forwards;
  }
  #pb-dot-3 {
    opacity: 0;
    animation: moveRight 2.5s ease 0s 1 forwards;
  }
  #pb-check-1 {
    opacity: 1;
  }
  #pb-check-2 {
    opacity: 0;
    animation: fadeInUp 0.5s ease 1s 1 forwards;
  }
  .write-message.ng-enter {
    @extend .animated;
    animation-name: fadeUp30;
    animation-delay: 0.5s;
    opacity: 0;
  }
}
#wrapper[data-pagename="thanks"] {
  div#progress-bar {
    opacity: 1;
  }
  #pb-line-1 {
    stroke-dashoffset: 0;
    stroke-width: 1;
  }
  #pb-line-2 {
    stroke-dashoffset: 0;
    stroke-width: 1;
  }
  #pb-check-1 {
    opacity: 1;
  }
  #pb-check-2 {
    opacity: 1;
  }
  #pb-check-3 {
    opacity: 0;
    animation: fadeInUp 0.5s ease 1s 1 forwards;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 30%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeDownOut {
  0% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
}
@keyframes fadeDown30 {
  0% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
}
@keyframes fadeUp30 {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes moveRight {
  0% {
    opacity: 1;
    transform: translate(-186px, 0);
  }
  20% {
    opacity: 1;
    transform: translate(-186px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes blink{
  to{
    opacity: 0;
  }
}
@keyframes removeTopMargin{
  to{
    margin-top: 0;
  }
}
@keyframes addTopMargin{
  to{
    margin-top: 100px;
  }
}
@keyframes draw {
  to {
      stroke-dashoffset: 0;
  }
}