html, body {
  min-height: 100%;
}
html {
  position: relative;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
  background-image: url('/static/img/bg-fade.jpg');
  background-size: cover auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #eeeeee;
  min-height: 100%;
  margin-bottom: 170px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
a.ondark {
  color: #fff;
  &:visited, &:active {
    color: #fff;
  }
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}
.navbar-header, .navbar-brand {
  width: 100%;
  text-align: center;
}
.navbar-brand svg.logo {
  //width: 200px;
  //margin: 0 auto;
  // @extend .ro-gradient;
}
h1 {
  font-family: 'Droid Serif', serif;
  font-size: 60px;
  text-align: center;
  color: #444444;
  @media (max-width: $screen-sm-max) {
    font-size: 50px;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 35px;
  }
}
.header h1 {
  // Appears on first page
  margin-top: 100px;

  @media (max-width: $screen-xs-max) {
    margin-top: 60px;
  }
}
h1.header {
  // Appears on other pages
  margin-top: 0;
}
.boxshadow {
  box-shadow: 0px 2px 7px 0px rgba(100, 100, 100, 0.18);
}
.whitebox-container {
  padding: 27px 30px 34px 30px;
  
  @media (max-width: $screen-xs-max) {
    padding: 17px 10px 14px 10px;
  }
}
.whitebox {
  @extend .boxshadow;
  background-color: #fff;
  padding: 0;
  border-radius: 5px;
  margin: 0 auto 90px auto;
  float: none;

  @media (max-width: $screen-xs-max) {
    margin-bottom:40px;
    max-width: 95%;
  }

  &::before {
    content: '';
    display: block;
    height:5px;
    background-color: #000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-image: linear-gradient(to right, #FF8900, #FF4127);

  }
  label {
    margin-bottom: 7px;
  }
}
.checkbox input[type="checkbox"] {
    display:none;
}
.checkbox input[type="checkbox"] + label {
    display:inline-block;
    cursor:pointer;
}
.checkbox input[type="checkbox"]  + label:before {
  background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" enable-background="new 0 0 50 50"><path d="M25 50c-13.785 0-25-11.215-25-25s11.215-25 25-25 25 11.215 25 25-11.215 25-25 25zm0-48.482c-12.951 0-23.487 10.534-23.487 23.482s10.536 23.482 23.487 23.482c12.95 0 23.486-10.534 23.486-23.482s-10.535-23.482-23.486-23.482zM38.5 30h-27c-1.375 0-2.5-1.125-2.5-2.5v-5c0-1.375 1.125-2.5 2.5-2.5h27c1.375 0 2.5 1.125 2.5 2.5v5c0 1.375-1.125 2.5-2.5 2.5z" fill="#BFC0C1"/></svg>');
  background-size: cover;
}
.checkbox input[type="checkbox"]:checked  + label:before {
  background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" enable-background="new 0 0 50 50"><path d="M25 50c-13.785 0-25-11.215-25-25s11.215-25 25-25 25 11.215 25 25-11.215 25-25 25zm0-48.482c-12.951 0-23.487 10.534-23.487 23.482s10.536 23.482 23.487 23.482c12.95 0 23.486-10.534 23.486-23.482s-10.535-23.482-23.486-23.482zM39 18.294c0 .494-.169.914-.505 1.259l-13.08 13.411-2.457 2.519c-.338.346-.746.517-1.228.517s-.892-.173-1.228-.518l-2.457-2.519-6.54-6.705c-.338-.347-.505-.765-.505-1.259 0-.494.169-.914.505-1.259l2.457-2.519c.338-.347.746-.518 1.228-.518s.892.173 1.228.518l5.311 5.465 11.851-12.168c.337-.347.745-.518 1.226-.518.482 0 .892.173 1.228.518l2.457 2.519c.34.343.509.763.509 1.257z" fill="#EE355B"/></svg>');
  background-size: cover;
}
.checkbox input[type="checkbox"] + label:before {
    content:" ";
    display:inline-block;
    height: 30px;
    width: 30px;
    margin-bottom: -8px;
    margin-right: 10px;
}

// Logos
.navbar-brand .text {
  fill: none;
  stroke-width: 9;
  // stroke-linejoin: butt;
  // stroke-dasharray: 500;
  // stroke-dashoffset: 500;
  // animation: draw 5s ease 2s 1 forwards;
  // animation-repeat: 1;
  position: absolute;
}
.navbar-brand svg {
  // animation: resizeLogo 1s ease 4s 1 forwards;
  // max-width: 550px;
  // margin-top: 50px;
  max-width: 250px;
  margin-top: 0;

  @media (max-width: $screen-xs-max) {
    width: 90%;
    max-width: 230px;
    position:relative;
    left: 5%;
    stroke-width: 10;
  }
}

.back-button {
  @extend .pull-right;
  display: inline-block;
  border-radius: 0;
  border-width: 0;
  border-bottom-left-radius: 5px;
  background-color: #FF4425;
  color: #fff;
  padding: 0px 10px 2px 10px;
  font-size: 12px;
  line-height: 21px;
  @extend a.ondark;
  &:hover, &:active, &:focus {
    background-color: #FF4425;
  }
}
label {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 12px;
  color: $gray;
  font-weight: 400;
}
.form-control {
  box-shadow: none;
}
.input-lg {
  height: 54px;
}
.input-group {
  .input-lg {
    border-right:0;
  }
  .btn-lg {
    height: 54px;
  }
}
.btn-orange {
  @extend a.ondark;
  color: #f85628;
  background-color: #fff;
  border: 1px solid #f85628;
  margin-left: 0 !important;
  font-weight: 300;
  @include bounce-to-right;
  &:hover {
    text-decoration: none;
    font-weight: 300;
  }
}
.btn-lg.btn-orange {
  padding: 15px 30px;
}
.input-group .btn-orange {
  padding: 0 30px;
}
.btn[disabled] {
  border-color: #ccc;
  color: #aaa;
  opacity: 1;
}

/*****************
 Styles specific to mobile view
 ****************/
@media (max-width: $screen-xs-max) {
  .back-button { display: none;}
}