@font-face {
    font-family: 'Work Sans Web';
    src: url('/static/{$VERSION}/fonts/worksans-bold-webfont.eot');
    src: url('/static/{$VERSION}/fonts/worksans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/{$VERSION}/fonts/worksans-bold-webfont.woff2') format('woff2'),
         url('/static/{$VERSION}/fonts/worksans-bold-webfont.woff') format('woff'),
         url('/static/{$VERSION}/fonts/worksans-bold-webfont.ttf') format('truetype'),
         url('/static/{$VERSION}/fonts/worksans-bold-webfont.svg#work_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}


@font-face {
    font-family: 'Work Sans Web';
    src: url('/static/{$VERSION}/fonts/worksans-extrabold-webfont.eot');
    src: url('/static/{$VERSION}/fonts/worksans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/{$VERSION}/fonts/worksans-extrabold-webfont.woff2') format('woff2'),
         url('/static/{$VERSION}/fonts/worksans-extrabold-webfont.woff') format('woff'),
         url('/static/{$VERSION}/fonts/worksans-extrabold-webfont.ttf') format('truetype'),
         url('/static/{$VERSION}/fonts/worksans-extrabold-webfont.svg#work_sansextrabold') format('svg');
    font-weight: 900;
    font-style: normal;

}


@font-face {
    font-family: 'Work Sans Web';
    src: url('/static/{$VERSION}/fonts/worksans-regular-webfont.eot');
    src: url('/static/{$VERSION}/fonts/worksans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/{$VERSION}/fonts/worksans-regular-webfont.woff2') format('woff2'),
         url('/static/{$VERSION}/fonts/worksans-regular-webfont.woff') format('woff'),
         url('/static/{$VERSION}/fonts/worksans-regular-webfont.ttf') format('truetype'),
         url('/static/{$VERSION}/fonts/worksans-regular-webfont.svg#work_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Work Sans Web';
    src: url('/static/{$VERSION}/fonts/worksans-thin-webfont.eot');
    src: url('/static/{$VERSION}/fonts/worksans-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/{$VERSION}/fonts/worksans-thin-webfont.woff2') format('woff2'),
         url('/static/{$VERSION}/fonts/worksans-thin-webfont.woff') format('woff'),
         url('/static/{$VERSION}/fonts/worksans-thin-webfont.ttf') format('truetype'),
         url('/static/{$VERSION}/fonts/worksans-thin-webfont.svg#work_sansthin') format('svg');
    font-weight: 300;
    font-style: normal;

}


// Open Sans light
@font-face {
  font-family: 'OpenSans';
  src: url("/static/{$VERSION}/fonts/OpenSans-Light.eot");
  src: url("/static/{$VERSION}/fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
       url("/static/{$VERSION}/fonts/OpenSans-Light.woff") format("woff"),
       url("/static/{$VERSION}/fonts/OpenSans-Light.ttf") format("truetype"),
       url("/static/{$VERSION}/fonts/OpenSans-Light.svg#OpenSansLight") format("svg");
  font-weight: 300;
  font-style: normal;
}

// Open Sans Normal
@font-face {
  font-family: 'OpenSans';
  src: url("/static/{$VERSION}/fonts/OpenSans-Regular.eot");
  src: url("/static/{$VERSION}/fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
       url("/static/{$VERSION}/fonts/OpenSans-Regular.woff") format("woff"),
       url("/static/{$VERSION}/fonts/OpenSans-Regular.ttf") format("truetype"),
       url("/static/{$VERSION}/fonts/OpenSans-Regular.svg#OpenSansRegular") format("svg");
  font-weight: 400;
  font-style: normal;
}

// Open Sans Bold
@font-face {
  font-family: 'OpenSans';
  src: url("/static/{$VERSION}/fonts/OpenSans-Semibold.eot");
  src: url("/static/{$VERSION}/fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"),
       url("/static/{$VERSION}/fonts/OpenSans-Semibold.woff") format("woff"),
       url("/static/{$VERSION}/fonts/OpenSans-Semibold.ttf") format("truetype"),
       url("/static/{$VERSION}/fonts/OpenSans-Semibold.svg#OpenSansBold") format("svg");
  font-weight: bold;
  font-style: normal;
}

// Droid Serif
@font-face {
    font-family: 'DroidSerif';
    src: url('/static/{$VERSION}/fonts/droidserif-regular-webfont.eot');
    src: url('/static/{$VERSION}/fonts/droidserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/{$VERSION}/fonts/droidserif-regular-webfont.woff2') format('woff2'),
         url('/static/{$VERSION}/fonts/droidserif-regular-webfont.woff') format('woff'),
         url('/static/{$VERSION}/fonts/droidserif-regular-webfont.ttf') format('truetype'),
         url('/static/{$VERSION}/fonts/droidserif-regular-webfont.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

//DIO Icon font, created using fontastic.me
@charset "UTF-8";

@font-face {
  font-family: "democracy-io";
  src:url("/static/{$VERSION}/fonts/democracy-io.eot");
  src:url("/static/{$VERSION}/fonts/democracy-io.eot?#iefix") format("embedded-opentype"),
    url("/static/{$VERSION}/fonts/democracy-io.woff") format("woff"),
    url("/static/{$VERSION}/fonts/democracy-io.ttf") format("truetype"),
    url("/static/{$VERSION}/fonts/democracy-io.svg#democracy-io") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "democracy-io" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "democracy-io" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check-mark-4:before {
  content: "a";
}
.icon-check-mark-circle-outline:before {
  content: "b";
}
.icon-check-mark-circle:before {
  content: "c";
}
.icon-bubble-comment-streamline-talk:before {
  content: "d";
}
.icon-edit-modify-streamline:before {
  content: "e";
}
.icon-heart:before {
  content: "f";
}
.icon-angle-down:before {
  content: "h";
}

