#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 230px;  
  background-color: #DBDBDB;
  padding-top: 50px;

  @media (max-width: $screen-xs-max) {
    height: 188px;
  }
}
.navbar-brand svg, #footer svg.logo {
  font: 220px/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
  letter-spacing:40px;
  font-weight: 800;
  max-height: 100px; // Fixes SVG issue in Safari 7

  stroke: none;
}
#footer svg.logo {
  width: 250px;
  fill: #fff;
}
#footer .eff-logo svg{
  margin-left: 10px;
  position: relative;
  top:3px;
}
#footer .links {
  text-align: right;
  line-height: 2.4;
  a {
    color: #2c2c2c;
    padding-left:1px;
    padding-right:1px;
    border-bottom: 1px solid #eee;
    transition: color 0.3s ease;
    &:hover,&:active {
      text-decoration: none;
      color: $pink;
      border-bottom: 1px solid #fff;
    }
  }
}