/******
 Loading
******/
#loading {
  margin: 0 0 2em;
  max-width: 309px;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  vertical-align: top;
  text-align: center;
  &:before {
    display: none;
  }
  p {
    font-size: 18px;
  }
}


/******
 Home
******/
div#whydio {
  background-color: #fff;
  border-top: 1px solid #CCCCCC;
  video {
    border: 1px solid #CCCCCC;
    border-top: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow:hidden;
  }
  #video-container h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom:35px;
    font-weight: 100;
  }
}
#address {
  margin-bottom: 30px;
}
#brand {
 text-transform: uppercase;
 letter-spacing: 1px;
 font-size: 10px; 
 text-align: center;
 margin-bottom: 60px;
 img {
  margin-bottom: 3px;
 }
 a {
  color: inherit;
  border-bottom: 1px solid #bbb;
  &.img-link {
    border-bottom: none;
  }
  &.img-link, &:hover {
    text-decoration: none;
  }
 }
}
#address .whitebox-container {
  padding: 0;
}
#address .whitebox-container > form {
  padding: 27px 30px 15px 30px;
  @extend .clearfix;
}
#address .btn-lg.btn-orange {
  margin-top: 25px;
  right: 2px;
}
#address .alert.alert-danger {
  margin-bottom: 5px;
  margin-top:5px;
  background-color: #fff;
}
#address .whitebox-footer {
  a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: underline;
  }
}
@media (min-width: $screen-sm-min) {
  #address #addressInputs {
    float:left;
  }
  #address #submitAddress {
    float:right;
    width: 25%;
    margin-top: 96px;
    text-align: right;
  }
}
@media (max-width: $screen-xs-max) {
  #address {
    .btn-lg.btn-orange {
      left:0;
      margin-top:5px;
      margin-bottom:10px;
      font-size: 18px;
    }
    .input-group .form-control:first-child {
     font-size: 14px;
    }
  }
}

/******
 Pick legislators
******/
#pick-legislators {
  label {
    text-transform: none;
    letter-spacing: 0;
    font-size: 18px;
    color: $gray;
    font-weight: 200;
    padding-left:5px;
  }
  .checkbox {
    margin-bottom: 15px;
  }
  p {
    margin-bottom:25px;
    margin-top: 10px;
    font-size: 18px;
  }
}
#pick-legislators .whitebox-container {
  padding-bottom: 30px;
  padding-top: 20px;
  @media (max-width: $screen-xs-max) {
    padding-bottom: 25px;
    padding-top: 10px;
    padding-left:15px;
    padding-right: 15px;
  }
}

/******
 Write message
******/
.write-message {
  label {
    margin-bottom: 8px;
  }
  .btn-orange {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 40px;
  }
}
strong {
  font-weight: 600;
}
#to-field {
  padding-bottom:15px;
  font-size: 18px;
}
#to-field label {
  display: block;
}

textarea#inputMessage {
  padding-top: 40px;
  position: relative;
}

#textarea-container {
  position: relative;
  &::after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 20px;
    letter-spacing: 0;
    text-transform: none;
    font-family: 'DroidSerif', serif;
    -webkit-font-smoothing: antialiased;
    color: #999;
    z-index: 1;
    font-size: 16px;
    content: 'Dear [Representative/Senator],';
    background-color: #fff;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 10px;
  }
}
.panel {
  border: 1px solid #f9465b;
}
.panel-heading {
  background-image: linear-gradient(to right, #f9465b, #fa6444);
  color: #fff;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.panel-body {
  padding-bottom: 10px;
}
.panel.panel-compact .panel-body {
  padding: 10px;
}
#prefixNote.panel {
  margin-top: 30px;
}
@media (min-width: $screen-sm-min ) {
  .write-message .panel {
    margin-top: 30px;
  }
}
label small {
  text-transform: none;
  letter-spacing: 0;
}
.emailSignup {
  font-size: 15px;
  margin-top:20px;
  margin-bottom:0;
  a {
    color: inherit;
    text-decoration: underline;
  }
  label {
    text-transform: none;
    letter-spacing: 0;
    font-size: 15px;
    padding-left: 0;
  }
}

#messageFormValidation {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border: 0;
  border-top: 1px solid $brand-primary;
  background-color: #FFEFEF;
  color: $brand-primary;
  margin-bottom: 0;

  p {
    margin-bottom:10px;
  }
}
.write-message .whitebox-container {
  padding-bottom:10px;
}
.write-message .alert-danger {
  background-color: #FFEFEF;
  border: 1px solid $brand-primary;
  color: $brand-primary;
}

/******
 CAPTCHA
******/

#captchaContainer {
  margin-top: 20px;
  img {
    margin-bottom: 15px;
  }
  #loading {
    height: auto;
    font-weight: 400;
    p.small {
      font-size: 16px;
      font-weight: 300;
    }
  }
}

/******
 Thanks
******/
#thanks {
  @extend .boxshadow;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;

  @media (max-width: $screen-xs-max) {
    width: 85%;
    margin: 0 auto;
  }

  p {
    font-size: 20px;
    text-align: center;
    padding: 20px 10px 130px 10px;
  }

  #triangle {
    position: absolute;
    left: 50%;
    margin-left: -16px;
    top: 0;
  }

  #share-icons {
    background-image: linear-gradient(to right, #FF9600, #FC4863);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:0;
    height: 120px;
    text-align: center;
    color: #fff;
    padding-top: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;

    a  {
      transform: translate(0, 0);
      display: block;
      cursor: pointer;

      animation: 0.3s ease;
      transition-duration: 0.3s;
      transition-property: transform;
      animation-fill-mode: both;
      &:hover {
        transform: translate(0, -7px);
      }
    }
  }
}



/*****************
 Home page page
 ****************/
#whydio #about-lead {
  margin-top: 60px;
  background-color: #222;
  -webkit-font-smoothing: antialiased; // Makes light-on-dark text look better in Chrome.
  &:before {
    content: ' ';
    display: block;
    height: 15px;
    background: linear-gradient(to right, $brand-primary, $pink); 
  }
  h2 {
    font-family: "DroidSerif";
    line-height: 1.6;
    margin-bottom: 25px;
    margin-top: 40px;
    text-align: center;
    color: #fff;
  }
  .col-md-10 {
    margin-bottom: 40px;
  }
  a {
    color: #fff;
  }
  .btn-outline {
    border: 1px solid #fff;
    border-radius: 10px;
    font-weight: 100;
    transition: background-color 0.3s ease;
    color: #fff;
    &:hover, a:hover {
      color: #fff;
      background-color: $brand-primary;
      text-decoration: none;
    }
  }
  i.icon-angle-down {
    position:relative;
    top: 1px;
  }
}
#whydio #about {
  background: linear-gradient(to bottom, #eee, #fff);
  p, ul {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom:15px;
    font-weight: 400;
  }
  svg {
    margin-top: 30px;
  }
  div.lead {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    p {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  & > .container > .row {
    margin-top: 0;
  }
  ul li {
    margin-bottom: 10px;
    list-style-type: none;
    &:before {
      font-family: 'democracy-io';
      content: "a";
      font-size: 28px;
      margin-left: -27px;
      position:relative;
      top:8px;
      right:5px;
    }
  }
  .row {
    margin-top: 40px;
    margin-bottom: 40px;
    &:first-child {
      margin-top:0;
    }
  }
  .container.how {
    margin-top: 0;
    margin-bottom:0;
  }
  .v-center {
    @media (min-width: $screen-md-min) {
      float:none;
      display:inline-block;
      vertical-align:middle;
      margin-right:-4px;
    }
    img {
      padding-top: 30px;
    }
  }
  h2 {
    font-weight: 100;
    font-size: 36px;
    margin-bottom: 25px;
  }
  .col-md-8, .col-md-6 {
    margin-top: 30px;
  }
  #icon-logo {
    max-width: 80%;
  }
}
