/******
 Loading
******/
#loading {
  margin: 0 0 2em;
  max-width: 309px;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  vertical-align: top;
  text-align: center;
  &:before {
    display: none;
  }
  p {
    font-size: 1.1em;
  }
}


/******
 Home
******/
div#whydio {
  padding-bottom: 2em;
  background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));;
  video {
    border: 1px solid #CCCCCC;
    border-top: 0;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    overflow:hidden;
  }
  #video-container h2 {
    text-align: center;
  }
}
.form-control {
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.8em;
  height: auto;
  box-shadow: none;
  border-radius: $border-radius;
}
#address {
  margin-bottom: 2em;
}
#brand {
 text-transform: uppercase;
 letter-spacing: 1px;
 font-size: 0.7em; 
 text-align: center;
 margin-bottom: 6em;
 img {
  margin-bottom: 3px;
 }
 a {
  color: inherit;
  border-bottom: 1px solid #bbb;
  &.img-link {
    border-bottom: none;
  }
  &.img-link, &:hover {
    text-decoration: none;
  }
 }
}
#address .whitebox-container {
  padding: 0;
}
#address .whitebox-container > form {
  padding: 1.5em;
  padding-bottom: 0.5em;
  @extend .clearfix;
}
#address .btn-lg.btn-orange {
  margin-top: 2em;
  right: 2px;
}
#address .alert.alert-danger {
  margin-bottom: 5px;
  margin-top:5px;
  background-color: #fff;
}
#address .whitebox-footer {
  a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: underline;
  }
}
@media (min-width: $screen-sm-min) {
  #address #addressInputs {
    float:left;
  }
  #address #submitAddress {
    float:right;
    width: 25%;
    margin-top: 6em;
    text-align: right;
  }
}
@media (max-width: $screen-xs-max) {
  #address {
    .btn-lg.btn-orange {
      left:0;
      margin-top:5px;
      margin-bottom:10px;
      font-size: 18px;
    }
    .input-group .form-control:first-child {
     font-size: 14px;
    }
  }
}

/******
 Pick legislators
******/
#pick-legislators {
  label {
    text-transform: none;
    letter-spacing: 0;
    font-size: 1.1em;
    color: $gray;
    padding-left:5px;
  }
  .checkbox {
    margin-bottom: 1em;
  }
  p {
    margin-bottom:2em;
    margin-top: 1em;
    font-size: 1.1em;
  }
}
#pick-legislators .whitebox-container {
  padding-bottom: 2em;
  padding-top: 1em;
  @media (max-width: $screen-xs-max) {
    padding: 1em;
    padding-bottom: 2em;
  }
}

/******
 Write message
******/
.write-message {
  label {
    margin-bottom: 8px;
  }
  .btn-orange {
    margin-top: 0 1em;
    padding: 0.65em 3.5em;
  }
}
strong {
  font-weight: bold;
}
#to-field {
  padding-bottom:1em;
  font-size: 1.1em;
}
#to-field label {
  display: block;
}

textarea#inputMessage {
  padding-top: 3.5em;
  position: relative;
}

#textarea-container {
  position: relative;
  &::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.8em;
    letter-spacing: 0;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    color: #999;
    z-index: 1;
    content: 'Dear [Representative/Senator],';
  }
}
.panel {
  border: 1px solid #f9465b;
}
.panel-heading {
  background-image: linear-gradient(to right, #f9465b, #fa6444);
  color: #fff;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.panel-body {
  font-size: 0.9em;
  line-height: 1.5em;
}
.panel.panel-compact .panel-body {
  padding: 10px;
}
#prefixNote.panel {
  margin-top: 2em;
}
@media (min-width: $screen-sm-min ) {
  .write-message .panel {
    margin-top: 2em;
  }
}
label small {
  text-transform: none;
  letter-spacing: 0;
}
.emailSignup {
  font-size: 0.9em;
  margin-top:1em;
  margin-bottom:0;
  a {
    color: inherit;
    text-decoration: underline;
  }
  label {
    text-transform: none;
    letter-spacing: 0;
    padding-left: 0;
  }
}

#messageFormValidation {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border: 0;
  border-top: 1px solid $brand-primary;
  background-color: #FFEFEF;
  color: $brand-primary;
  margin-bottom: 0;

  p {
    margin-bottom:1em;
  }
}
.write-message .whitebox-container {
  padding-bottom:1em;
}
.write-message .alert-danger {
  background-color: #FFEFEF;
  border: 1px solid $brand-primary;
  color: $brand-primary;
}

/******
 CAPTCHA
******/

#captchaContainer {
  margin-top: 1em;
  img {
    margin-bottom: 1em;
  }
  #loading {
    height: auto;
  }
}

/******
 Thanks
******/
#thanks {
  @extend .boxshadow;
  border-radius: $border-radius;
  background: #fff;
  overflow: hidden;

  @media (max-width: $screen-xs-max) {
    width: 85%;
    margin: 0 auto;
  }

  p {
    font-size: 1.2em;
    text-align: center;
    padding: 1em 1em 8em 1em;
  }

  #triangle {
    position: absolute;
    left: 50%;
    margin-left: -16px;
    top: 0;
  }

  #share-icons {
    background-image: linear-gradient(to right, #FF9600, #FC4863);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:0;
    height: 120px;
    text-align: center;
    color: #fff;
    padding-top: 2em;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    overflow: hidden;

    a  {
      transform: translate(0, 0);
      display: block;
      cursor: pointer;

      animation: 0.3s ease;
      transition-duration: 0.3s;
      transition-property: transform;
      animation-fill-mode: both;
      &:hover {
        transform: translate(0, -7px);
      }
    }
  }
}



/*****************
 Home page page
 ****************/
#whydio #about-lead {
  background-color: $brand-primary;
  -webkit-font-smoothing: antialiased; // Makes light-on-dark text look better in Chrome.
  background: linear-gradient(to right, $brand-primary, $pink); 

  h2 {
    text-align: center;
    font-family: $heading;
    color: #fff;
  }
  .col-md-10 {
    margin-bottom: 2.5em;
  }
  a {
    color: #fff;
  }
  .btn-outline {
    border-color: #FFF;
    color: #fff;
    &:hover, a:hover {
      background: #fff;
      box-shadow: none;
      color: $brand-primary;
      text-decoration: none;
    }
  }
  i.icon-angle-down {
    position:relative;
    top: 1px;
  }
}
#whydio #about {
  background: linear-gradient(to bottom, #eee, #fff);
  p, ul {
    margin-bottom:1em;
  }
  svg {
    margin-top: 2em;
    stroke-linecap: round;
  }
  div.lead {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2em;
    font-weight: normal;
    p {
      font-size: 1.1em;
      margin-bottom: 1em;
    }
  }
  & > .container > .row {
    margin-top: 0;
  }
  ul li {
    margin-bottom: 1em;
    list-style-type: none;
    &:before {
      font-family: 'democracy-io';
      content: "a";
      font-size: 28px;
      margin-left: -27px;
      position:relative;
      top:8px;
      right:5px;
    }
  }
  .row {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    &:first-child {
      margin-top:0;
    }
  }
  .container.how {
    margin-top: 0;
    margin-bottom:0;
  }
  .v-center {
    @media (min-width: $screen-md-min) {
      float:none;
      display:inline-block;
      vertical-align:middle;
      margin-right:-4px;
    }
    img {
      padding-top: 2em;
    }
  }
  h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
    font-weight: 300;
  }
  .col-md-8, .col-md-6 {
    margin-top: 2em;
  }
  #icon-logo {
    max-width: 80%;
  }
}
