.whitebox.pick-legislators {
  label {
    text-transform: none;
    letter-spacing: 0;
    font-size: 18px;
    color: $gray;
    font-weight: 200;
    padding-left:5px;
  }
  .checkbox {
    margin-bottom: 15px;
  }
  p {
    margin-bottom:25px;
    margin-top: 10px;
    font-size: 18px;
  }
}
.pick-legislators .whitebox-container {
  padding-bottom: 30px;
  padding-top: 20px;
}

/******
 Write message 
******/
.write-message {
  
}
#to-field {
  padding-bottom:15px;
  font-size: 18px;
}
#to-field label {
  display: block;
}

textarea#inputMessage {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

#textarea-container {
  position: relative;
  &::after {
    display: block;
    position: absolute;
    top: 12px;
    left: 12px;
    letter-spacing: 0;
    text-transform: none;
    font-family: 'Droid Serif', serif;
    -webkit-font-smoothing: antialiased;
    color: #999;
    z-index: 1;
    font-size: 16px;
    content: 'Dear [Representative/Senator],';
  }
}