/******
 Loading 
******/
#loading {
  margin: 0 0 2em;
  height: 100px;
  max-width: 309px;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  vertical-align: top;
  text-align: center;
  &:before {
    display: none;
  }
  p {
    font-size: 18px;
  }
}


/******
 Home 
******/

#address .whitebox-container {
  padding-bottom: 20px;
}
#address .btn-lg.btn-orange {
  margin-top: 25px;
}
@media (min-width: $screen-sm-min) {
  #address #addressInputs {
    float:left;
  }
  #address #submitAddress {
    float:right;
    width: 25%;
    margin-top: 96px;
    text-align: right;
  }
}
@media (max-width: $screen-xs-max) {
  #address {
    .whitebox-container {
      padding: 20px;
    }
    .input-group .form-control:first-child {
     font-size: 14px;
    }
    button.btn-orange.btn-lg {
      font-size: 18px;
      margin-top:0;
    }
  }
}

/******
 Pick legislators 
******/
#pick-legislators {
  label {
    text-transform: none;
    letter-spacing: 0;
    font-size: 18px;
    color: $gray;
    font-weight: 200;
    padding-left:5px;
  }
  .checkbox {
    margin-bottom: 15px;
  }
  p {
    margin-bottom:25px;
    margin-top: 10px;
    font-size: 18px;
  }
}
#pick-legislators .whitebox-container {
  padding-bottom: 30px;
  padding-top: 20px;
  @media (max-width: $screen-xs-max) {
    padding-bottom: 25px;
    padding-top: 10px;
    padding-left:15px;
    padding-right: 15px;
  }
}

/******
 Write message 
******/
.write-message {
  label {
    margin-bottom: 8px;
  }
  .btn-orange {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 40px;
  }
}
strong {
  font-weight: 600;
}
#to-field {
  padding-bottom:15px;
  font-size: 18px;
}
#to-field label {
  display: block;
}

textarea#inputMessage {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

#textarea-container {
  position: relative;
  &::after {
    display: block;
    position: absolute;
    top: 12px;
    left: 12px;
    letter-spacing: 0;
    text-transform: none;
    font-family: 'Droid Serif', serif;
    -webkit-font-smoothing: antialiased;
    color: #999;
    z-index: 1;
    font-size: 16px;
    content: 'Dear [Representative/Senator],';
  }
}
.panel {
  border: 1px solid #f9465b;
}
.panel-heading {
  background-image: linear-gradient(to right, #f9465b, #fa6444);
  color: #fff;
  font-size: 12px;
  letter-spacing: 1.5px;
}
@media (min-width: $screen-sm-min ) {
  .write-message .panel {
    margin-top: 30px;
  }
}
label small {
  text-transform: none;
  letter-spacing: 0;
}
.emailSignup {
  font-size: 15px;
  margin-top:20px;
  margin-bottom:0;
  label {
    text-transform: none;
    letter-spacing: 0;
    font-size: 15px;
    padding-left: 0;
  }
}

#messageFormValidation {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border: 0;
  border-top: 1px solid $brand-primary;
  background-color: #FFEFEF;
  color: $brand-primary;

  p {
    margin-bottom:10px;
  }
}
.write-message .whitebox-container {
  padding-bottom:10px;
}
.write-message .alert-danger {
  background-color: #FFEFEF;
  border: 1px solid $brand-primary;
  color: $brand-primary;
}

/******
 Thanks 
******/
#thanks {
  @extend .boxshadow;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;

  @media (max-width: $screen-xs-max) {
    width: 85%;
    margin: 0 auto;
  }

  p {
    font-size: 20px;
    text-align: center;  
    padding: 20px 10px 130px 10px;
  }

  #triangle {
    position: absolute;
    left: 50%;
    margin-left: -16px;
    top: 0;
  }
  
  #share-icons {
    background-image: linear-gradient(to right, #FF9600, #FC4863);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:0;
    height: 120px;
    text-align: center;
    color: #fff;
    padding-top: 30px;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
    overflow: hidden;

    a  {
      transform: translate(0, 0);
      display: block;
    
      animation: 0.3s ease;
      transition-duration: 0.3s;
      transition-property: transform;
      animation-fill-mode: both;
      &:hover {
        transform: translate(0, -7px);
      }
    }
  }
}