@import "bootstrap-sass/assets/stylesheets/bootstrap.scss";

$primaryColor: #fff;
$secondaryColor: #fff;
$highlightColor: #fff;
$activeColor: #f85628;
$slowDuration: 0.4s;
@import "hover.css/scss/options";
@import "hover.css/scss/mixins";
@import "hover.css/scss/hacks";
@import "hover.css/scss/effects/background-transitions/bounce-to-right.scss";
// Import IE10 fix
//@import "ie_10_fix";

// Import Bootstrap Compass integration
//@import "bootstrap-compass";

// Import custom Bootstrap variables
//@import "bootstrap-variables";

html, body {
  min-height: 100%;
}

html {
  position: relative;
}

body {
  padding-top: 20px;
  background-image: url('/static/img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F0F0F0;
  min-height: 100%;
  margin-bottom: 170px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
a.ondark {
  color: #fff;
  &:visited, &:active {
    color: #fff;
  }
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}
.navbar-header, .navbar-brand {
  width: 100%;
  text-align: center;
}
.navbar-brand #logo {
  width: 200px;
  margin: 0 auto;
  // @extend .ro-gradient;
}
#progress-bar-svg {
  width: 100%;
  margin: 0 auto;
}
div#progress-bar {
  text-align: center;
  max-width: 433px;
  margin: 0 auto 40px auto;
  position: relative;
}
#progress-bar .labels {
  margin-top: -8px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 300;
  span {
    display: inline-block;
  }
  .first {
    width: 27%;
    margin-left: -6%;
    position: absolute;
    left: 0;
    font-weight: 400;
  }
  .second {
    width: 46%;
    position: absolute;
    left: 50%;
    margin-left: -22%;
  }
  .third {
    width: 27%;
    position: absolute;
    right: 0;
    margin-right: -8%;
  }
}
h1 {
  font-family: 'Droid Serif', serif;
  font-size: 60px;
  text-align: center;
  color: #444444;
}
.header h1 {
  margin-top: 100px;
}
.email-form {
  background-color: #fff;
  box-shadow: 0px 2px 7px 0px rgba(100, 100, 100, 0.18);
  padding: 0;
  border-radius: 5px;

  &::before {
    content: '';
    display: block;
    height:5px;
    background-color: #000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-image: linear-gradient(to right, #FF8900, #FF4127);
  }
  label {
    margin-bottom: 11px;
  }
}
.email-form-container {
  padding: 27px 30px 34px 30px;
}
.back-button {
  display: inline-block;
  border-bottom-right-radius: 5px;
  background-color: #FF8900;
  color: #fff;
  padding: 0px 10px 2px 10px;
  font-size: 12px;
  line-height: 21px;
  @extend a.ondark;
}
label {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 12px;
  color: $gray;
  font-weight: 400;
}
.form-control {
  box-shadow: none;
}
.input-lg {
  height: 54px;
}
.input-group {
  .input-lg {
    border-right:0;
  }
  .btn-lg {
    height: 54px;
  }
}
.btn-orange {
  @extend a.ondark;
  color: #f85628;
  background-color: #fff;
  border: 1px solid #f85628;
  margin-left: 0 !important;
  font-weight: 300;
  padding: 0 30px;
  @include bounce-to-right;
  &:hover {
    //background-color: #f85628;
    //color: #fff;
    text-decoration: none;
    font-weight: 300;
  }
}

// .back-button {
//   position: relative;
//   top:-30px;
//   left:-30px;
//   border: none;
//   border-radius: 0px;
//   border-t: op-left-radius:3px;
//   border-bottom-right-radius:3px;
// }

.email-form button {
/*  
  border: 1px solid orange;
  color: orange;
  background: white;
*/
}

/* For the footer */

/* Set the fixed height of the footer here */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #C0C0C0;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: white;
}

#footer {
  a:link, a:visited, a:hover, a:active {
    color: orange;
  }
}