$brand-primary: #f85628;
@import "bootstrap-sass/assets/stylesheets/bootstrap.scss";

$primaryColor: #fff;
$secondaryColor: #fff;
$highlightColor: #fff;
$activeColor: #f85628;
$slowDuration: 0.4s;
@import "hover.css/scss/options";
@import "hover.css/scss/mixins";
@import "hover.css/scss/hacks";
@import "hover.css/scss/effects/background-transitions/bounce-to-right.scss";
// Import IE10 fix
//@import "ie_10_fix";

// Import Bootstrap Compass integration
//@import "bootstrap-compass";

// Import custom Bootstrap variables
//@import "bootstrap-variables";

html, body {
  min-height: 100%;
}

html {
  position: relative;
}

body {
  background-image: url('/static/img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F0F0F0;
  min-height: 100%;
  margin-bottom: 170px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
a.ondark {
  color: #fff;
  &:visited, &:active {
    color: #fff;
  }
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}
.navbar-header, .navbar-brand {
  width: 100%;
  text-align: center;
}
.navbar-brand svg.logo {
  //width: 200px;
  //margin: 0 auto;
  // @extend .ro-gradient;
}
#progress-bar-svg {
  width: 100%;
  margin: 0 auto;
}
div#progress-bar {
  text-align: center;
  max-width: 433px;
  margin: 0 auto 40px auto;
  position: relative;

  @extend .animated;
  @extend .fadeInUp;
  animation-delay: 0.3s; // Reduces jittering
}
#progress-bar .labels {
  margin-top: -8px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 300;
  span {
    display: inline-block;
  }
  .first {
    width: 27%;
    margin-left: -6%;
    position: absolute;
    left: 0;
    font-weight: 400;
  }
  .second {
    width: 46%;
    position: absolute;
    left: 50%;
    margin-left: -22%;
  }
  .third {
    width: 27%;
    position: absolute;
    right: 0;
    margin-right: -8%;
  }
}
h1 {
  font-family: 'Droid Serif', serif;
  font-size: 60px;
  text-align: center;
  color: #444444;
}

.header h1 {
  margin-top: 100px;
}
.whitebox {
  background-color: #fff;
  box-shadow: 0px 2px 7px 0px rgba(100, 100, 100, 0.18);
  padding: 0;
  border-radius: 5px;
  margin-bottom: 90px;

  &::before {
    content: '';
    display: block;
    height:5px;
    background-color: #000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-image: linear-gradient(to right, #FF8900, #FF4127);
  }
  label {
    margin-bottom: 11px;
  }
}

.whitebox.pick-legislators {
  label {
    text-transform: none;
    letter-spacing: 0;
    font-size: 20px;
    color: $gray;
    font-weight: 200;
  }
  .checkbox {
    margin-bottom: 15px;
  }
}

.checkbox input[type="checkbox"] {
    display:none;
}
.checkbox input[type="checkbox"] + label {
    display:inline-block;
    cursor:pointer;
}
.checkbox input[type="checkbox"]  + label:before {
  background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" enable-background="new 0 0 50 50"><path d="M25 50c-13.785 0-25-11.215-25-25s11.215-25 25-25 25 11.215 25 25-11.215 25-25 25zm0-48.482c-12.951 0-23.487 10.534-23.487 23.482s10.536 23.482 23.487 23.482c12.95 0 23.486-10.534 23.486-23.482s-10.535-23.482-23.486-23.482zM38.5 30h-27c-1.375 0-2.5-1.125-2.5-2.5v-5c0-1.375 1.125-2.5 2.5-2.5h27c1.375 0 2.5 1.125 2.5 2.5v5c0 1.375-1.125 2.5-2.5 2.5z" fill="#E6E7E8"/></svg>');
  background-size: cover;
}
.checkbox input[type="checkbox"]:checked  + label:before {
  background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" enable-background="new 0 0 50 50"><path d="M25 50c-13.785 0-25-11.215-25-25s11.215-25 25-25 25 11.215 25 25-11.215 25-25 25zm0-48.482c-12.951 0-23.487 10.534-23.487 23.482s10.536 23.482 23.487 23.482c12.95 0 23.486-10.534 23.486-23.482s-10.535-23.482-23.486-23.482zM39 18.294c0 .494-.169.914-.505 1.259l-13.08 13.411-2.457 2.519c-.338.346-.746.517-1.228.517s-.892-.173-1.228-.518l-2.457-2.519-6.54-6.705c-.338-.347-.505-.765-.505-1.259 0-.494.169-.914.505-1.259l2.457-2.519c.338-.347.746-.518 1.228-.518s.892.173 1.228.518l5.311 5.465 11.851-12.168c.337-.347.745-.518 1.226-.518.482 0 .892.173 1.228.518l2.457 2.519c.34.343.509.763.509 1.257z" fill="#EE355B"/></svg>');
  background-size: cover;
}
.checkbox input[type="checkbox"] + label:before {
    content:" ";
    display:inline-block;
    height: 30px;
    width: 30px;
    margin-bottom: -8px;
    margin-right: 10px;
}

.whitebox-container {
  padding: 27px 30px 34px 30px;
}
.back-button {
  @extend .pull-right;
  display: inline-block;
  border-radius: 0;
  border-width: 0;
  border-bottom-left-radius: 5px;
  background-color: #FF4425;
  color: #fff;
  padding: 0px 10px 2px 10px;
  font-size: 12px;
  line-height: 21px;
  @extend a.ondark;
}
label {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 12px;
  color: $gray;
  font-weight: 400;
}
.form-control {
  box-shadow: none;
}
.input-lg {
  height: 54px;
}
.input-group {
  .input-lg {
    border-right:0;
  }
  .btn-lg {
    height: 54px;
  }
}
.btn-orange {
  @extend a.ondark;
  color: #f85628;
  background-color: #fff;
  border: 1px solid #f85628;
  margin-left: 0 !important;
  font-weight: 300;
  @include bounce-to-right;
  &:hover {
    //background-color: #f85628;
    //color: #fff;
    text-decoration: none;
    font-weight: 300;
  }
}
.btn-lg.btn-orange {
  padding: 15px 30px;
}
.input-group .btn-orange {
  padding: 0 30px;
}
.btn[disabled] {
  border-color: #ccc;
  color: #aaa;
  opacity: 1;
}

// Styles for progress-bar
#pb-check-2 {
  fill: none;
}
#pb-check-3 {
  fill: none;
}
#pb-check-1 {
  fill: none;
}
#pb-circle-1 {
}

// .back-button {
//   position: relative;
//   top:-30px;
//   left:-30px;
//   border: none;
//   border-radius: 0px;
//   border-t: op-left-radius:3px;
//   border-bottom-right-radius:3px;
// }

.email-form button {
/*  
  border: 1px solid orange;
  color: orange;
  background: white;
*/
}

/* For the footer */

/* Set the fixed height of the footer here */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #C0C0C0;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: white;
  padding-top: 30px;
}

#footer svg {
  width: 200px;
  fill: #333;
}
#footer .pull-right {
  text-align: right;
}


// Homepage animations 
.header h1 {
  // @extend .animated;
  // @extend .fadeZoomIn;
  // animation-delay: 0.5s; // Reduces jittering
  &::after {
    content: '|';
    display: inline;
    opacity: 1;
    animation: blink 0.7s linear 0s infinite;
    position:relative;
    bottom: 5px;
  }
}
@keyframes blink{
  to{opacity: 0;}
}
h1.hasFinishedTyping::after {
  display: none;
  animation: none;
}
div#progress-bar {
  @extend .animated;
  @extend .fadeInUp;
  animation-delay: 3s; // Reduces jittering
}
.email-form {
  @extend .animated;
  @extend .fadeInUp;
  animation-delay: 3s; // Reduces jittering
}
.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
.fadeInUp {
  animation-name: fadeInUp;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 30%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.fadeZoomIn {
  animation-name: fadeZoomIn;
}
@keyframes fadeZoomIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


// Animated Logo
.navbar-brand .text {
  fill: none;
  stroke-width: 9;
  // stroke-linejoin: butt;
  // stroke-dasharray: 500;
  // stroke-dashoffset: 500;
  // animation: draw 5s ease 2s 1 forwards;
  // animation-repeat: 1;
  position: absolute;
}
.navbar-brand svg, #footer svg {
  font: 12em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
  letter-spacing:40px;
  font-weight: 800;
}
#footer svg {
  width: 200px;
  fill: #aaa;
}
.navbar-brand svg {
  // animation: resizeLogo 1s ease 4s 1 forwards;
  // max-width: 550px;
  // margin-top: 50px;
  max-width: 250px;
  margin-top: 0;
}
@keyframes draw {
  to {
      stroke-dashoffset: 0;
  }
}
// @keyframes resizeLogo {
//   100% {
//     max-width: 250px;
//     margin-top: 0;
//   }
// }

// Animated progress-bar
#progress-bar-svg {
  stroke-linejoin: butt;
  stroke-dasharray: 500;
  stroke-dashoffset: -500;
  animation: draw 2s ease 2.5s 1 forwards;
}