sudo: required
language: node_js
node_js:
  - "8.12.0"
install:
  - npm ci
script:
  - npm run build:prod
  - npm run test
cache:
  directories:
    - node_modules
    - "$HOME/.npm"
services:
  - redis-server