#addressInputs {
  width: 100%;
  transition: width ease-in-out 0.5s;
}

#submitAddress {
  width: 25%;
  transition: width ease-in-out 0.5s;
  display: none;
}

.addressValid-enter-active,
.addressValid-enter-done {
  #addressInputs {
    width: 75%;
  }
}

// #submitAddress {
//   max-height: 0;
//   max-width: 0;
//   overflow: hidden;
//   transition: width 0.5s ease;
//   transition-delay: 0.2s;
//   display: none;
// }

// #submitAddress.addressValid {
//   max-height: 100px;
// }

// @include media-breakpoint-up(md) {
//   #addressInputs {
//     width: 100%;
//     transition: width 0.5s ease;
//   }
//   #addressInputs.addressValid {
//     width: 75%;
//   }

//   #submitAddress {
//     align-self: flex-end;
//   }

//   #submitAddress {
//     width: 25%;
//     text-align: right;
//     max-width: 0;
//     overflow: hidden;
//     transition: max-width 0.5s ease;
//   }
//   #submitAddress.addressValid {
//     max-width: 25%;
//   }
// }

// @include media-breakpoint-down(md) {
//   #addressInputs {
//     width: 100%;
//     max-width: 100%;
//   }

//   #submitAddress {
//     width: 100%;
//     max-width: 100%;
//   }
// }
@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
