#address {
  margin-bottom: 30px;
}

#address .btn-lg.btn-orange {
  margin-top: 25px;
  right: 2px;
}

#address .whitebox-footer {
  a,
  a:visited,
  a:hover,
  a:active {
    color: inherit;
    text-decoration: underline;
  }
}
@include media-breakpoint-up(sm) {
  #address #addressInputs {
    float: left;
  }
  #address #submitAddress {
    float: right;
    width: 25%;
    margin-top: 96px;
    text-align: right;
  }
}

@include media-breakpoint-down(sm) {
  #address {
    .btn-lg.btn-orange {
      left: 0;
      margin-top: 5px;
      margin-bottom: 10px;
      font-size: 18px;
    }
    .input-group .form-control:first-child {
      font-size: 14px;
    }
  }
}
#address {
  #addressInputs {
    width: 100%;
    transition: width 0.5s ease;
  }

  @include media-breakpoint-up(sm) {
    #addressInputs.addressValid {
      width: 75%;
    }
  }
  @include media-breakpoint-up(sm) {
    #submitAddress {
      max-width: 0;
      overflow: hidden;
      transition: max-width 0.5s ease;
    }
    #submitAddress.addressValid {
      max-width: 25%;
    }
  }
  @include media-breakpoint-down(sm) {
    #submitAddress {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease;
    }
    #submitAddress.addressValid {
      max-height: 100px;
    }
  }
}
