/******
 CAPTCHA
******/

#captchaContainer {
  margin-top: 20px;
  img {
    margin-bottom: 15px;
  }
  #loading {
    height: auto;
    font-weight: 400;
    p.small {
      font-size: 16px;
      font-weight: 300;
    }
  }
}
