/******
 Pick legislators
******/

.checkbox input[type="checkbox"] {
  display: none;
}
.checkbox input[type="checkbox"] + label {
  display: inline-block;
  cursor: pointer;
}
.checkbox input[type="checkbox"]:disabled + label {
  cursor: not-allowed;
}
.checkbox input[type="checkbox"] + label:before {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" enable-background="new 0 0 50 50"><path d="M25 50c-13.785 0-25-11.215-25-25s11.215-25 25-25 25 11.215 25 25-11.215 25-25 25zm0-48.482c-12.951 0-23.487 10.534-23.487 23.482s10.536 23.482 23.487 23.482c12.95 0 23.486-10.534 23.486-23.482s-10.535-23.482-23.486-23.482zM38.5 30h-27c-1.375 0-2.5-1.125-2.5-2.5v-5c0-1.375 1.125-2.5 2.5-2.5h27c1.375 0 2.5 1.125 2.5 2.5v5c0 1.375-1.125 2.5-2.5 2.5z" fill="%23BFC0C1"/></svg>');
  background-size: cover;
}
.checkbox input[type="checkbox"]:checked + label:before {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" enable-background="new 0 0 50 50"><path d="M25 50c-13.785 0-25-11.215-25-25s11.215-25 25-25 25 11.215 25 25-11.215 25-25 25zm0-48.482c-12.951 0-23.487 10.534-23.487 23.482s10.536 23.482 23.487 23.482c12.95 0 23.486-10.534 23.486-23.482s-10.535-23.482-23.486-23.482zM39 18.294c0 .494-.169.914-.505 1.259l-13.08 13.411-2.457 2.519c-.338.346-.746.517-1.228.517s-.892-.173-1.228-.518l-2.457-2.519-6.54-6.705c-.338-.347-.505-.765-.505-1.259 0-.494.169-.914.505-1.259l2.457-2.519c.338-.347.746-.518 1.228-.518s.892.173 1.228.518l5.311 5.465 11.851-12.168c.337-.347.745-.518 1.226-.518.482 0 .892.173 1.228.518l2.457 2.519c.34.343.509.763.509 1.257z" fill="%23EE355B"/></svg>');
  background-size: cover;
}
.checkbox input[type="checkbox"]:disabled + label:before {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" enable-background="new 0 0 50 50"><path d="M25 50c-13.785 0-25-11.215-25-25s11.215-25 25-25 25 11.215 25 25-11.215 25-25 25zm0-48.482c-12.951 0-23.487 10.534-23.487 23.482s10.536 23.482 23.487 23.482c12.95 0 23.486-10.534 23.486-23.482s-10.535-23.482-23.486-23.482z" fill="#E6E7E8"/><g fill="#E6E7E8"><path d="M11.919 31.01l19.091-19.091c.972-.972 2.563-.972 3.536 0l3.536 3.536c.972.972.972 2.563 0 3.536l-19.092 19.09c-.972.972-2.563.972-3.536 0l-3.536-3.536c-.972-.971-.972-2.562.001-3.535zM31.01 38.081l-19.091-19.091c-.972-.972-.972-2.563 0-3.536l3.536-3.536c.972-.972 2.563-.972 3.536 0l19.09 19.092c.972.972.972 2.563 0 3.536l-3.536 3.536c-.971.972-2.562.972-3.535-.001z"/></g></svg>');
  background-size: cover;
}
.checkbox input[type="checkbox"] + label:before {
  content: " ";
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-bottom: -8px;
  margin-right: 10px;
}
