/******
 Loading
******/
#loading {
  margin: 0 0 2em;
  max-width: 309px;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  vertical-align: top;
  text-align: center;
  &:before {
    display: none;
  }
  p {
    font-size: 18px;
  }
}
