body {
  background-color: #eeeeee;
  font-family: "OpenSans", sans-serif;
  font-weight: 300;
}

.main {
  background-image: url("./../images/bg-fade.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 80vh;
  padding-bottom: 64px;
}

.serif {
  font-family: "DroidSerif", serif;
}

.boxshadow {
  box-shadow: 0px 2px 7px 0px rgba(100, 100, 100, 0.18);
}

.bounce-to-right {
  @include bounce-to-right;
}

.label-styled {
  text-transform: uppercase;
  color: #555;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
}
