.typewriter {
  position: relative;
  min-height: 60px;
}
.typewriter::after {
  content: "|";
  display: inline;
  opacity: 1;
  animation: blink 0.7s linear 0s infinite;
  position: absolute;
  bottom: 5px;
}
.typewriter.hasFinishedTyping::after {
  display: none;
  animation: none;
}
