$pink: #f93469;
$secondaryColor: #fff;
$highlightColor: #fff;
$activeColor: #f85628;
$slowDuration: 0.4s;
$transitionDuration: 0.5s;
$easing: cubic-bezier(0.5, 0, 0, 1);
$border-radius: 2px;
$border-radius-lg: 2px;
$gray: #ccc;

// bootstrap overrides
$input-placeholder-color: #ccc;
$enable-responsive-font-size: true;
$theme-colors: (
  "primary": #f85628,
  "danger": #ff4136
);

$input-height-lg: 54px;

// Bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/alert";

// Animations
@import "~hover.css/scss/_options";
@import "~hover.css/scss/_mixins";
@import "~hover.css/scss/_hacks";
@import "~hover.css/scss/effects/background-transitions/_bounce-to-right.scss";

// Global styles
@import "fonts";
@import "base";
@import "animations";

// Components
@import "./../FormComponents/AddressForm.scss"; @import "./../FormComponents/Captcha.scss"; @import "./../FormComponents/Loading.scss";
@import "./../FormComponents/LegislatorPickerForm.scss";
@import "./../FormComponents/MessageForm.scss";
@import "./../FormComponents/ProgressBar.scss";
@import "./../FormComponents/Thanks.scss";
@import "./../FormComponents/Whitebox.scss";
@import "./../HomePage/HomePage.scss";

.debug * {
  border: 1px solid #f00 !important;
}
