<!-- Page 1 -->

<div class="row">
  <div class="email-form col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <!-- <a class="back-button" href="#">Go back</a> -->
    <div class="email-form-container">
      <label for="inputAddress">Enter your address:</label>
      <div class="input-group">
        <input type="text" class="form-control input-lg"
               ng-autocomplete
               placeholder="1600 Pennsylvania Ave, Washington DC, 20500"
               options="ngAutocompleteOptions"
               details="data.geocode"
               ng-model="data.address">
        <span class="input-group-btn">
          <button type="submit"
                  ng-disabled="data.invalidGeocode"
                  class="btn btn-lg btn-orange"
                  ng-click="submit(data.geocode.geometry.location)">
            Submit
          </button>
        </span>
      </div>
      <div class="alert alert-danger"
           ng-show="data.invalidGeocode && !data.addressPristine">
        No Address Found
      </div>
    </div>
  </div>
</div>
