<!-- Page 1 -->
<div class="row">
  <div class="email-form col-md-6 col-md-offset-3">
    <!-- <a class="back-button" href="#">Go back</a> -->
    <div class="email-form-container">
      <label for="inputAddress">Enter your address:</label>
      <div class="input-group">
        <input type="text" class="form-control input-lg" placeholder="1600 Pennsylvania Ave, Washington DC, 20500">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-lg btn-orange">Submit</button>
        </span>
      </div>
    </div>
  </div>
</div>