<!-- Page 2 -->
<div class="row">
  <div class="pick-legislators whitebox col-md-6 col-md-offset-3">
      <button class="btn-sm btn-warning back-button" ng-click="dioPageNav.back()">Go back</button>
      
    <div class="whitebox-container">
      <div class="repOption checkbox" ng-repeat="legislator in legislators">
          <input type="checkbox" ng-model="selectedLegislators[legislator.bioguideId]" id="{{legislator.bioguideId}}" unchecked> 
          <label for="{{legislator.bioguideId}}">{{legislator.title}}. {{legislator.firstName}} {{legislator.lastName}}
        </label>
      </div>
      <button type="submit" class="btn btn-lg btn-orange" ng-click="submit()">
        Write to them!
      </button>
    </div>
  </div>
</div>
