<!-- Page 3 -->
<div class="row">
  <div class="write-message whitebox col-md-10">
      <button class="btn-sm btn-warning back-button" ng-click="dioPageNav.back()">Go back</button>
      
    <div class="whitebox-container" ><!--ng-show="legislators"-->

      <div class="row">
        <div class="col-md-12" id="to-field">
          <label>This message will be sent to:</label>
            <span ng-repeat="legislator in legislators">
              <span>
                [[legislator.title]]. [[legislator.firstName]] [[legislator.lastName]]
              <span ng-hide="$last">,</span>
            </span>
          </span>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="inputSubject">Subject</label>
          <input type="text" class="form-control" id="inputSubject">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-9">
        <label for="inputMessage">Message</label>
        <div id="textarea-container">
          <textarea id="inputMessage" class="form-control" cols="30" rows="10"></textarea>
        </div>
        </div>
        <div class="col-md-3">
          <div class="panel">
            <div class="panel-heading">
              GUIDELINES:
            </div>
            <div class="panel-body">
                <p>Be <strong>polite</strong> and concise.</p>
                <p>Explain why the issue you're writing about is important to you.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 form-group">
          <label for="inputFirstName">First name</label>
          <input type="text" class="form-control" id="inputFirstName">
        </div>

        <div class="col-md-3 form-group">
          <label for="inputLastName">Last name</label>
          <input type="text" class="form-control" id="inputLastName">
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 form-group">
          <label for="inputPrefix">Prefix</label>
          <select class="form-control" id="inputPrefix">
            <option value="Mr">Mr</option>
            <option value="Ms">Ms</option>
            <option value="Mrs">Mrs</option>
            <option value="Dr">Dr</option>
          </select>
        </div>

        <div class="col-md-3 form-group">
          <label for="inputPhoneNumber">Phone number <small>(optional)</small></label>
          <input type="text" class="form-control" id="inputPhoneNumber">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="inputTopic">Topic</label>
          <select class="form-control" id="inputTopic">
            <option ng-repeat="topic in topics" value="[[topic]]">[[topic]]</option>
          </select>
        </div>
      </div>

      <button type="submit" class="btn btn-orange btn-lg">Send!</button>
    </div>
  </div>
</div>
