<!-- Page 3 -->
<div class="row">

  <div class="write-message whitebox col-md-10">
    <button class="btn-sm btn-warning back-button" ng-click="goBack()">Go back</button>

    <div id="loading" class="whitebox-container" ng-if="(!loadingDelay && !legislatorsFormElements) || sending">
      <svg  version="1.1"
            id="loading-svg"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="40px"
            height="40px"
            viewBox="0 0 40 40"
            enable-background="new 0 0 40 40"
            xml:space="preserve">
        <path opacity="0.2" fill="#FF8901" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
          s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
          c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
        <path fill="#EE335B" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
          C22.32,8.481,24.301,9.057,26.013,10.047z">
          <animateTransform attributeType="xml"
            attributeName="transform"
            type="rotate"
            from="0 20 20"
            to="360 20 20"
            dur="0.5s"
            repeatCount="indefinite"/>
        </path>
      </svg>
      <p ng-if="!loadingDelay  && !legislatorsFormElements">This'll just take one moment ...</p>
      <p ng-if="sending">Sending your message now ... this process may take up to 30 seconds.</p>
    </div>

    <form name="messageForm" class="whitebox-container" ng-show="legislatorsFormElements && !sending" novalidate>

      <div class="row">
        <div class="col-md-12" id="to-field">
          <label>This message will be sent to:</label>
            <span ng-repeat="legislator in legislators">
              <span>
                [[legislator.title]]. [[legislator.firstName]] [[legislator.lastName]]
              <span ng-hide="$last">,</span>
            </span>
          </span>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-8 col-md-9">
          <label for="inputSubject">Subject</label>
          <input type="text" name="subject" class="form-control" id="inputSubject" ng-model="formData.subject" ng-required='true'>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-8 col-md-9">
        <label for="inputMessage">Message</label>
        <div id="textarea-container">
          <textarea id="inputMessage" name="message" class="form-control" cols="30" rows="10" ng-model="formData.message" ng-required='true'></textarea>
        </div>
        </div>
        <div class="col-sm-4 col-md-3 hidden-xs">
          <div class="panel">
            <div class="panel-heading">
              Guidelines:
            </div>
            <div class="panel-body">
                <p>Be <strong>polite</strong> and concise.</p>
                <p>Explain why the issue you're writing about is important to you.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-md-6">
          <div class="form-group">
            <label for="inputEmail">Your Email Address</label>
            <input type="email" name="email" class="form-control" id="inputEmail" ng-model="formData.email" ng-required="true">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-md-6">
          <div class="row">
            <div class="col-sm-6 form-group">
              <label for="inputFirstName">First name</label>
              <input type="text" name="firstName" class="form-control" id="inputFirstName" ng-model="formData.firstName" ng-required='true'>
            </div>
            <div class="col-sm-6 form-group">
              <label for="inputLastName">Last name</label>
              <input type="text" name="lastName" class="form-control" id="inputLastName" ng-model="formData.lastName" ng-required='true'>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label for="inputPrefix">Prefix</label>
              <select class="form-control"
                      name="prefix" id="inputPrefix"
                      ng-model="formData.prefix"
                      ng-required="true"
                      ng-focus="prefixFocus = true"
                      ng-blur="prefixFocus = false">
                <option value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Ms">Ms</option>
                <option value="Dr">Dr</option>
              </select>
            </div>
            <div class="col-sm-6 form-group" ng-class="{'has-error' : (!messageForm.phone.$valid && !messageForm.phone.$pristine)}">
              <label for="inputPhoneNumber">Phone number</label>
              <input type="text"
                     name="phone"
                     id="inputPhoneNumber"
                     class="form-control"
                     ng-model="formData.phoneNumber"
                     ng-required="true"
                     ui-mask="(999) 999-9999">
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-6 hidden-xs form-note" ng-show="prefixFocus">
          <div class="panel panel-compact" id="prefixNote">
            <div class="panel-body">
                Members of Congress's contact forms require gendered titles. <span class="hidden-sm">EFF believes the options provided are limiting and we are looking into alternatives.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row" ng-if="countyData.options">
        <div class="form-group col-sm-4 col-md-6">
          <label for="inputCounty">County</label>
          <select class="form-control"
                  name="county"
                  id="inputCounty"
                  ng-model="formData.county"
                  ng-options="county as county for county in countyData.options"
                  ng-required="true">
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group" ng-repeat="legislator in topicOptions">
            <label for="inputTopic">[[legislator.name]]'s Topic</label>
            <select class="form-control"
                    name="topic"
                    id="inputTopic"
                    ng-model="topicOptions[legislator.bioguideId].selected"
                    ng-required="true"
                    ng-focus="$parent.topicFocus = true"
                    ng-blur="$parent.topicFocus = false"
                    >
              <option ng-repeat="topic in legislator.options" value="[[topic]]">
                [[topic]]
              </option>
            </select>
          </div>
        </div>

        <div class="col-sm-6 hidden-xs form-note" ng-show="topicFocus">
          <div class="panel panel-compact" id="prefixNote">
            <div class="panel-body">
                These topic fields are required by Members of Congress to submit messages via their contact forms.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group emailSignup" >
        <p>Democracy.io is a free service of the <a href="https://eff.org">Electronic Frontier Foundation</a>, a 501(c)(3) non-profit dedicated to fighting for your rights in the digital age.</p>
        <div class="checkbox">
          <input type="checkbox" id="emailSignup" ng-model="joinEmailList" unchecked>
          <label for="emailSignup">Want to stay up to date with EFF and our work? Click this button to sign up for email updates (<a href="https://www.eff.org/policy">privacy policy</a>).</label>
        </div>
      </div>

      <button type="submit"
              class="btn btn-orange btn-lg"
              ng-click="send()"
              ng-show="!messageForm.$invalid">
        Send!
      </button>
    </form>

    <div class="alert alert-warning"
         id="messageFormValidation"
         role="alert"
         ng-show="!messageForm.$pristine && messageForm.$invalid">
      <p><strong>Please fill in the following required fields  to submit your message:</strong></p>
      <ul>
        <li ng-if="messageForm.subject.$invalid">Subject</li>
        <li ng-if="messageForm.message.$invalid">Message</li>
        <li ng-if="messageForm.firstName.$invalid">First Name</li>
        <li ng-if="messageForm.lastName.$invalid">Last Name</li>
        <li ng-if="messageForm.prefix.$invalid">Prefix</li>
        <li ng-if="messageForm.phone.$invalid">Phone Number</li>
        <li ng-if="messageForm.county.$invalid">County</li>
        <li ng-if="messageForm.email.$invalid">Email</li>
      </ul>
    </div>
  </div>
</div>
