<!-- Page 4 -->
<div class="row" ng-controller="ThanksController">
  <div id="thanks" class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <p>
      Spread the word and ask your friends to write to their representatives too.
    </p>

    <div id="share-icons">
      <svg id="triangle" viewBox="78 267.9 767.5 383.9" width="30" xmlns="http://www.w3.org/2000/svg">
        <path d="M78,268l383.8,383.8L845.5,268H78z" fill="#fff"/>
      </svg>

      <div class="col-xs-4" ng-repeat="share in shares">
        <a class="share-link" ng-click="sharePopup(share.link)" ng-bind-html="share.graphic | trusted_html">
        </a>
      </div>
    </div>
  </div>
</div>