/******
 Write message
******/
@media (min-width: 1200px) {
  textarea#inputMessage {
    padding-top: 42px;
    position: relative;
  }
}

@media (max-width: 1200px) {
  textarea#inputMessage {
    padding-top: 65px;
    position: relative;
  }
}

@media (max-width: 400px) {
  textarea#inputMessage {
    padding-top: 86px;
    position: relative;
  }
}

#textarea-container {
  position: relative;
  &::after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 20px;
    letter-spacing: 0;
    text-transform: none;
    font-family: "DroidSerif", serif;
    -webkit-font-smoothing: antialiased;
    color: #999;
    z-index: 1;
    font-size: 16px;
    content: "Dear [Representative/Senator],";
    background-color: #fff;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 10px;
  }
}
.panel {
  border: 1px solid #f9465b;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-heading {
  background-image: linear-gradient(to right, #f9465b, #fa6444);
  color: #fff;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: 10px 15px;
}
.panel-body {
  padding: 10px 15px;
  font-size: 14px;
}
.panel.panel-compact .panel-body {
  padding: 10px;
}
#prefixNote.panel {
  margin-top: 30px;
}
#phoneNote.panel {
  margin-top: 30px;
}
@include media-breakpoint-up(sm) {
  .write-message .panel {
    margin-top: 30px;
  }
}

#messageFormValidation {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border: 0;
  border-top: 1px solid colors("primary");
  background-color: #ffefef;
  color: colors("primary");
  margin-bottom: 0;

  p {
    margin-bottom: 10px;
  }
}

.write-message .alert-danger {
  background-color: #ffefef;
  border: 1px solid colors("primary");
  color: colors("primary");
}
