.whitebox-container {
  // subtract top gradient height from padding
  padding-top: 27px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;

  @include media-breakpoint-down(sm) {
    padding-top: 11px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
  }
}

.whitebox-footer {
  border-top: 1px solid #ddd;
  padding: 8px;
  color: #5f5f5f;
  font-size: 12px;
  background-color: #f9f9f9;
}

.whitebox {
  box-shadow: 0px 2px 7px 0px rgba(100, 100, 100, 0.18);
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;

  // top gradient
  &::before {
    content: "";
    display: block;
    height: 5px;
    background-color: #000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-image: linear-gradient(to right, #ff8900, $pink);
  }
}
@keyframes fadeUp30 {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  99% {
    opacity: 1;
    transform: none;
  }
}
// TODO - there's probably a cleaner way to do this
// animations
.whitebox-enter:not(.whitebox-appear) {
  opacity: 0;
  transform: translate3d(0, 30px, 0);
  transition-property: all;
  transition-duration: 0.5s;
}

.whitebox-enter-active:not(.whitebox-appear-active) {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-property: all;
  transition-duration: 0.5s;
}

// on fresh visit
.whitebox-appear {
  opacity: 0;
}
.whitebox-appear-active {
  transform: translate3d(0, 30px, 0);
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0.5s;
}
.whitebox-appear-done {
  opacity: 1;
  transform: translate3d(0, 0px, 0);
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}

// exit
.whitebox-exit {
  animation-name: fadeDown30;
  animation-duration: 0.4s;
  animation-fill-mode: both;
}

.whitebox-exit-done {
  display: none;
}

.back-button {
  display: inline-block;
  border-radius: 0;
  border-width: 0;
  border-bottom-left-radius: 3px;
  background-color: $pink;
  color: #fff;
  padding: 0px 10px 2px 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}
