/******
 Thanks
******/
#thanks {
  @extend .boxshadow;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    width: 85%;
    margin: 0 auto;
  }

  p {
    font-size: 20px;
    text-align: center;
    padding: 20px 10px 130px 10px;
  }

  #triangle {
    position: absolute;
    left: 50%;
    margin-left: -16px;
    top: 0;
  }

  #share-icons {
    background-image: linear-gradient(to right, #ff9600, #fc4863);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    height: 120px;
    text-align: center;
    color: #fff;
    padding-top: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;

    a {
      transform: translate(0, 0);
      display: block;
      cursor: pointer;

      animation: 0.3s ease;
      transition-duration: 0.3s;
      transition-property: transform;
      animation-fill-mode: both;
      &:hover {
        transform: translate(0, -7px);
      }
    }
  }
}
