/******
 Home
******/
div#whydio {
  background-color: #fff;
  border-top: 1px solid #cccccc;
  video {
    border: 1px solid #cccccc;
    border-top: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
  }
  #video-container h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 35px;
    font-weight: 100;
  }
}

#about {
  background: linear-gradient(to bottom, #eee, #fff);
  color: #444;

  ul li {
    margin-bottom: 10px;
    list-style-type: none;
    &:before {
      font-family: "democracy-io";
      content: "a";
      font-size: 28px;
      margin-left: -27px;
      position: relative;
      top: 8px;
      right: 5px;
    }
  }
}

#about p {
  line-height: 1.6;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes drawLogo {
  to {
    stroke-dashoffset: 0;
  }
}

#icon-plane,
#icon-chat,
#icon-speaker,
#icon-logo,
#icon-eff {
  @extend .animated;
  animation-duration: 1s;
  opacity: 0;
}
#icon-plane.icon-enter {
  animation-name: fadeUpRightIn;
}
#icon-chat.icon-enter,
#icon-eff.icon-enter {
  animation-name: fadeUp30P;
}
#icon-speaker.icon-enter {
  animation-name: fadeRightIn30P;
}
#icon-logo.icon-enter {
  @extend .animated;
  opacity: 1;
  fill: none;
  stroke: $pink;
  stroke-width: 1px;
  stroke-linejoin: butt;
  stroke-dasharray: 130;
  stroke-dashoffset: 130;
  animation: drawLogo 2.5s ease 0s 1 forwards;
  animation-repeat: 1;
}
